{{ template "layout/header" .}}


<main id="body">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        用户重设密码
                    </div>
                    <div class="card-body">
                        <div class="media">
                            <div style="padding:30px 30px 30px 30px;">
                                <div style="color:#339502;font-size:22px;line-height: 2.5;">验证失败！错误的验证地址</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<script>

</script>
{{ template "layout/footer" }}
