{{ template "layout/adminheader" .}}

<main id="body">
    <div class="container">

        <div class="row line-height-3">
            <div class="col-12">
                <h3>后台首页</h3>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">站点统计信息</h5>
                        <div class="row">
                            <div class="col-md-4"><span class="text-muted">主题数：</span>{{.counts.threads}}</div>
                            <div class="col-md-4"><span class="text-muted">帖子数：</span>{{.counts.posts}}</div>
                            <div class="col-md-4"><span class="text-muted">用户数：</span>{{.counts.users}}</div>
                            <div class="col-md-4"><span class="text-muted">附件总数：</span>{{.counts.attachs}}</div>
                            {{/*<div class="col-md-4"><span class="text-muted">磁盘剩余空间：</span>29.15G</div>*/}}
                            <div class="col-md-4"><span class="text-muted">在线人数：</span>{{.counts.onlines}}</div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5>服务器信息 </h5>
                        <div class="row">
                            <div class="col-md-6"><span class="text-muted">操作系统：</span>LINUX</div>
                            <div class="col-md-6"><span class="text-muted">Web Server：</span>Nginx/1.16 (Win64) OpenSSL/1.0.2r </div>
                            <div class="col-md-6"><span class="text-muted">GO：</span>1.19</div>

                            <div class="col-md-6"><span class="text-muted">数据库：</span>mysql<small> (8.0)</small></div>
                            <div class="col-md-6"><span class="text-muted">最大 POST 数据大小：</span>8M</div>
                            <div class="col-md-6"><span class="text-muted">最大文件上传大小：</span>1M</div>

                            <div class="col-md-6"><span class="text-muted">允许开启远程 URL：</span>是</div>
                            <div class="col-md-6"><span class="text-muted">安全模式（safe_mode）：</span>否</div>
                            <div class="col-md-6"><span class="text-muted">最长执行时间：</span>30</div>

                            <div class="col-md-6"><span class="text-muted">内存上限：</span>128M</div>
                            <div class="col-md-6"><span class="text-muted">客户端 IP：</span>127.0.0.1</div>
                            <div class="col-md-6"><span class="text-muted">服务端 IP：</span>127.0.0.1</div>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5>开发团队信息</h5>
                        <div>Official Site: <a href="http://www.xinshulaile.com" target="_blank">http://www.gorobbs.com/</a></div>
                        <div>Dev Team:
                            <a href="http://www.xinshulaile.com/" target="_blank">奇迹军团</a>
                        </div>
                        <div>Thanks For:
                            <a href="http://www.xinshulaile.com/" target="_blank">go_orm@163.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>

</script>
{{ template "layout/adminfooter" .}}