{{ define "mod/thread_list_mod.inc" }}
{{if eq .sessions.Isadmin "1"}}
<div class="text-center">
    {{/*// 文章详情页不显示全选*/}}
    {{/*<?php if(param(0) != 'thread') { ?>*/}}
    <label class="mr-3">
        <input type="checkbox" data-target='input[name="modtid"]' class="checkall mt-2 mr-2" value="" aria-label="全选" />全选
    </label>
    {{/*<?php } ?>*/}}

    <div class="btn-group mod-button my-3" role="group" aria-label="">

        <button class="btn btn-secondary delete" data-modal-url="/mod/thread/delete.html" data-modal-title="删除" data-modal-arg=".threadlist" data-modal-size="md">删除</button>

        <button class="btn btn-secondary move" data-modal-url="/mod/thread/move.html" data-modal-title="移动" data-modal-arg=".threadlist" data-modal-size="md">移动</button>

        <button class="btn btn-secondary top" data-modal-url="/mod/thread/top.html" data-modal-title="置顶" data-modal-arg=".threadlist" data-modal-size="md">置顶</button>

        <button class="btn btn-secondary _close" data-modal-url="/mod/thread/close.html" data-modal-title="关闭" data-modal-arg=".threadlist" data-modal-size="md">关闭</button>
    </div>
</div>
{{end}}
{{end}}