<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>404页面</title>
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/static/css/404style.css">
    <link rel="shortcut icon" href="http://uqseo.com/favicon.ico">
</head>
<body>
<div class="container">
    <img class="bg" src="/static/img/404.png"/>
    <div class="btn">
        <a  class="goindex" onclick="history.back()">返回</a>
        <a href="http://wpa.qq.com/msgrd?v=3&uin=68179285&site=qq&menu=yes" target="_blank" class="lx">咨询站长</a>
        <div style="clear:both;"></div>
    </div>
</div>
</body>
</html>