{{ template "layout/header" .}}
<main id="body">
    <div class="container">
        <div class="btn-group mb-3 d-lg-none" role="group" id="my_mobile_nav">
            <a role="button" class="btn btn-secondary" data-active="menu-my" href="/my.html">个人资料</a>
            <a role="button" class="btn btn-secondary active" data-active="menu-my-thread"
                href="/my_thread.html">论坛帖子</a>
            <a role="button" class="btn btn-secondary" data-active="menu-my-notice" href="?my-notice.htm">消息</a>
        </div>
        <div class="row">
            <!-- 左侧菜单 -->
            <div class="col-lg-2 hidden-md hidden-sm" id="my_aside">
                <div class="card">
                    <div class="card-body text-center">
                        <img class="avatar-4" src="{{.sessions.Useravatar}}">
                        <br>{{.sessions.Username}}
                    </div>
                    <div class="list-group list-group-flush text-center">
                        <a href="/my.html" class="list-group-item list-group-item-action" data-active="menu-my">个人资料</a>
                        <a href="/my_thread.html" class="list-group-item list-group-item-action active"
                            data-active="menu-my-thread">论坛帖子</a>
                        <a href="?my-notice.htm" class="list-group-item list-group-item-action"
                            data-active="menu-my-notice">消息</a>
                    </div>
                </div>
            </div>
            <!-- 右侧内容 -->
            <div class="col-lg-10" id="my_main">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="/my_thread.html" data-active="my-thread">主题</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/my_favorite.html" data-active="my-favorite">收藏 </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/my_digest.html" data-active="my-digest">精华</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/my_post.html" data-active="my-post">帖子</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled threadlist mb-0">
                            {{range .mythreads}}
                            <li class="media thread tap  " data-href="?thread-2.htm" data-tid="2">
                                <input type="checkbox" name="modtid" class="mt-3 mr-2" value="2">
                                <a href="?user-2.htm" tabindex="-1" class="ml-1 mt-1 mr-3">
                                    <img class="avatar-3" src="{{.User.Avatar}}">
                                </a>
                                <div class="media-body">
                                    <div class="subject break-all">
                                        <a href="?thread-2.htm">{{.Thread.Subject}}</a>
                                    </div>
                                    <div class="d-flex justify-content-between small mt-1">
                                        <div>
                                            <span style="padding-bottom:0;margin-bottom:0;color:; ">
                                                <i class="iconfont icon-v1" style="font-size: !important;"></i>
                                            </span>
                                            <span class="username text-grey mr-1 "
                                                uid="{{.User.ID}}">{{.User.Username}}</span>
                                            <span class="date text-grey">{{.Thread.CreatedAt.Unix | strtime}}</span>
                                        </div>
                                        <div class="text-muted small">
                                            <span class="ml-2 d-none"><i class="icon-eye"></i> 0</span>
                                            <span class="ml-2"><i class="icon-comment-o"></i> 0</span>
                                            <span class="ml-2" title="0 收藏">
                                                <i class="icon-star-o" aria-hidden="true"></i>
                                                0</span>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{ template "layout/footer" .}}
