{{ template "layout/header" .}}
<main id="body">
    <div class="container">
        <!-- 手机导航 / Mobile navigation -->
        <div class="btn-group mb-3 d-lg-none" role="group" id="user_mobile_nav">
            <a role="button" class="btn btn-secondary active" data-active="menu-user" href="?user-1.htm">个人资料</a>
            <a role="button" class="btn btn-secondary" data-active="menu-user-thread" href="?user-thread-1.htm">论坛帖子</a>
        </div>
        <div class="row">
            <!-- PC 导航 / Mobile navigation -->
            <div class="col-lg-2 hidden-md hidden-sm" id="user_aside">
                <div class="card">
                    <div class="card-body text-center">
                        <img class="avatar-4" src="{{.userinfo.Avatar}}">
                        <br>{{.userinfo.Username}}
                    </div>
                    <div class="list-group list-group-flush text-center" id="user_nav">
                        <a href="/user/{{.userinfo.ID}}/info.html" class="list-group-item list-group-item-action active" data-active="menu-user">个人资料</a>
                        <a href="/user/{{.userinfo.ID}}/thread.html" class="list-group-item list-group-item-action" data-active="menu-user-thread">论坛帖子</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-10" id="user_main">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="/user/{{.userinfo.ID}}/info.html" data-active="user-profile">基本资料</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="row line-height-4">
                            <div class="col-md-2 col-sm-12 text-center">
                                <img class="logo-4" src="{{.userinfo.Avatar}}">
                                <br><b>{{.userinfo.Username}} </b>
                            </div>
                            <div class="col-4 col-sm-5">
                                <span class="text-muted">主题数：</span>{{.userinfo.ThreadsCnt}}<br>
                                <span class="text-muted">帖子数：</span>{{.userinfo.PostsCnt}}<br>
                                <span class="text-muted">积分：</span>{{.userinfo.CreditsNum}} <br>
                                <span class="text-muted">精华数：</span>{{.userinfo.DigestsCnt}}
                            </div>
                            <div class="col-auto">
                                <span class="text-muted">用户组：</span>{{.userinfo.Group.Name}} <br>
                                <span class="text-muted">创建时间：</span>{{.userinfo.CreatedAt.Format "2006-01-02"}}<br>
                                <span class="text-muted">最后登录：</span>{{.userinfo.LoginDate.Format "2006-01-02"}} <br>
                                <span class="text-danger">Email：</span>{{.userinfo.Email}}
                            </div>
                        </div>
                        {{/*<a role="button" class="btn btn-danger confirm btn-block my-3" data-confirm-text="确定删除用户？" data-method="post" href="?mod-deleteuser-1.htm">删除用户</a>*/}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{ template "layout/footer" .}}